.service {
    background-color: white;
    /* border: 1px solid red; */
    width: 95%;
    margin: auto;
    box-shadow: 0px 0px 5px black;
    border-radius: 1%;
    padding: 0.7rem;
    overflow: hidden;
}

.service h2 {
    position: relative;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: left;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    padding-left: 1.2rem;
    background-color: rgba(87, 168, 255, 0.8);
    /* background-color: rgb(84, 210, 241); */
    color: white;
    text-shadow: 1px 1px 2px black;
    /* raja Css */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}
.service h2 .back{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 2.2rem;
    cursor: pointer;  
    text-shadow: 0px 0px 5px black; 
    transition: 0.3s ease-in-out;
    &:hover{
        scale: 1.1;
    } 
}

.service h2 button {
    float: right;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    padding: 0.3rem 0.8rem;
    font-weight: 800;
    outline: none;

    &:hover {
        background: #F6F9FE;
        color: blue;
        
    }

    &:active{
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
        border: 2px solid #4285f4;
    }
}

.service table {
    width: 100% !important;
    padding: 1.7rem;
}

.service table td {
    position: relative;
    height: 5rem;
    width: 33.3%;
    padding: 1rem;
    /* border: solid 1px red; */
}

.service table td select {
    width: 100%;
    height: 60%;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
}

.service table td input {
    height: 60%;
    width: 100%;
    font-size: 1.2rem;
    /* padding-left: 4rem; */
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
}
.service table td .l_move{
    position: absolute;
    top: 38%;
    cursor: text;
    left: 4.5rem;
    transition: 0.5s;
    font-size: 1.2rem;
}
.service table td .i1{
    position: absolute;
    top: 40%;
    /* top: 45%; */
    left: 2rem;
    color: rgb(76, 76, 76);
    font-size: 1.2rem;
}
.service table td .l_fixed {
    position: absolute;
    top: 1.2rem;
    left: 2.5rem;
    color: rgb(76, 76, 76);
    font-size: 1.2rem;
    position: absolute;
    font-size: 1.2rem;
    color: black;
    background-color: white;
    visibility: hidden;
}

.service table td .button {
    /* border: 1px solid red; */
    width: 100%;
    /* margin-left: 25%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
}

.service table td .button button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 12px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    font-weight: 800;
    border: none;
    outline: none;
    &:hover {
        scale: 1.1;
        transition: 0.3s;
    }
}

.data {
    background-color: white;
    /* border: 1px solid red; */
    width: 95%;
    margin: 2rem auto;
    box-shadow: 0px 0px 5px black;
    border-radius: 1%;
    padding: 0.7rem;
    overflow: auto;
}

.data h5 {
    background-color: rgb(87, 168, 255);
    color: white;
    text-align: left;
    padding: 0.8rem;
}

.data table {
    border: 1px solid blue;
    border-collapse: collapse;
}

.data table thead th {
    padding: 1rem;
    background-color: skyblue;
    font-size: 1.2rem;
    width: auto;
    text-align: center;
    border: 1px solid black;
}

.data table tbody td {
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid black;
    color: black;
}

.data table tbody tr:hover {
    background-color: rgba(103, 255, 255, 0.776);
    transition: 0.3s ease-out;
}

.data table tbody td button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    /* raja Css */
    border-radius: .5rem;
    padding: .2rem .5rem;
}
/* raja Css */
.data table tbody td button i{
    color: white;
}
@media screen and (max-width:768px) {
    .service table td{
        display: block;
        width: 100%;
    }
    .service table td .l_fixed{
        top:0rem;
    }
    .service table td .i1{
        top:30%;
    }
    .service h2{
        font-size: 1.2rem;
    }
    /* .parent h2 button{
        font-size: 1rem;
        padding: .1rem .5rem;
    } */
    .service h2 .back{
        font-size: 1.5rem;
        top: .4rem;
    }
}